<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id ="main-menu">
        <a href= "/blog">Home</a>
        <a href= "/blog/addblog">Add Posts</a>
        {{  <a href = "/login">Log In / Sign up</a>
        <a href ="/signout"> Sign Out</a> }} 
    </div>
    
</body>
</html>