<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
    <body>
        {{>menu}}
        <h1>sign up</h1>
        {{alert}}
            <form id= "sign up"action = "/signup" method = "POST">
                <label for="username">Username:</label>
                <input id = "username"type = "text" name = "username"/>
                <label for="password">password:</label>
                <input id = "password" type = "password" name = "password"/>
                <input type = "submit" value = "sign up">
        </form>
        <a href = "/login">To log in click here</a>
    </body>
</html>